body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.booklist{
  margin:auto;
  width: 80%;
}

.center{
  margin: auto;
  padding: 10px;
}

.user {
  width: 30%;
}

.search {
  width: 60%;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.bookname {
  font-weight: bold;
  font-size: normal;
}

.border-dashed {
  border-style: dashed;
  border-color: grey;
}

.big-container {
  margin: auto;
  padding: 10px;
  width: 1100px;
}

.inside-big-container{
  width:1100px;
}

.description-container {
  margin: 10px;
  padding: 10px;
}

.bookname-detail {
  font-weight: bold;
  font-size: xx-large;
}

.description{
  padding: 10px;
}

.price {
  font-weight: bold;
  font-size: larger;
  color: mediumblue;
}

.price-container{
  margin-right: 10px;
  background-color: lightskyblue;
}

.price-x-large {
  color: mediumblue;
  font-weight: bold;
  font-size: xx-large;
}

.price-small {
  color: mediumblue;
  font-weight: bold;
}

.bold{
  font-weight: bold;
}

.photo {
  padding: 10px;
}

.smallheader {
  font-size: large;
  font-weight: bold;
  color: black;
}

.floatingbar{
  width:100%;
  height:80px;
  background-color: darkgrey;
}

.stickyStyle {
  background-color: grey;
  height: 50px;
  justify-content: center;
  display: flex;
  top: 0px;
}

.small-img{
  width:80px;
  height:80px;
}